[submodule "r2_gaussian/submodules/xray-gaussian-rasterization-voxelization/third_party/glm"]
	path = r2_gaussian/submodules/xray-gaussian-rasterization-voxelization/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "r2_gaussian/submodules/tigre"]
	path = r2_gaussian/submodules/tigre
	url = https://github.com/CERN/TIGRE.git
